@import 'common.scss';

.section {
  &.main-section {
    padding-top: 0;
    .container {
      &.main-container {
        div.table-container {
          max-height: 70vh;
          overflow-y: scroll;
          box-shadow: 0 4px 4px $brand-dark;
          border-radius: 5px;

          .table tr:first-child > th {
            position: sticky;
            top: 0;
          }
        }
      }
    }
  }
}
